<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sekky.kibunya">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat"/>
        <activity android:name=".Login.SignUpActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Login.SendEmailActivity"
            android:label="send_email_activity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".Login.EmailLoginActivity"
            android:label="email_login_activity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".Login.ForgotPasswordActivity"
            android:label="forgot_password_activity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".Login.SmsSendCompleteActivity"
            android:label="sms_send_complete"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".Kibunlist.MainActivity"
            android:label="main_activity"
            android:screenOrientation="portrait">
            <intent-filter android:label="user_id" >
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="http" android:host="kazoku-diary" />
            </intent-filter>
        </activity>
        <activity
            android:name=".KibunDetail.KibunDetailActivity"
            android:label="kibun_detail"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".KibunInput.KibunInputActivity"
            android:label="Kibun_input"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".Other.OtherActivity"
            android:label="Other"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".Other.AddFamilyActivity"
            android:label="add_family"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".Other.ViewFamilyListActivity"
            android:label="view_family"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".Other.ChangeProfileActivity"
            android:label="change_profile"
            android:screenOrientation="portrait">
        </activity>
    </application>

</manifest>